.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:200px;
  padding: 50px;
  background-color: #f7f7f7;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  width: 100%;
}

.form-submit {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #0077ff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #0066cc;
}

.form-error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}